# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\codeProjects\FleetManager\LandingBayManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
